@oj-primary: #664D59;
@oj-dark: #003B4A;
@oj-success: #BDF2D4;
@oj-danger: #A60550;
@oj-secondary: #987284;

@oj-text: @oj-dark;
@oj-link: @oj-primary;
@oj-surface: #f7f3f5;
@oj-border: fade(@oj-secondary, 55%);
@oj-focus: fade(@oj-primary, 22%);
